body, html {
  margin: 0;
  padding: 0;
  font-family:  'Quando', serif;
  background-image:url('http://i3.minus.com/icyL1vUSNpH5H.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*height: 100%;
  width: 100%;*/
}
 
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.title {
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.5);  
  min-height: 60%;
}

#playername {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 18px;
  color: #FFF;
  float: left;
  height: 30px;
  width: 221px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

/*.playerProfile {
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.5);
  float: left;
  width: 10%;
  height: 10px;
  padding: 5%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: 1px none;
  border-radius: 10px;
  margin-top: 5%;
}*/

.playerCard {
    margin: 8px;
    float: left;
    height: 150px;
    width: 221px;
    background-color: rgba(0, 0, 0, .5);  
    border-radius: 8px;
    text-align: center;
}


/*Random Profiles Below*/
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
  div {margin: 10;padding: 0}
}

.random-user--wrap {
  width: 100px;
  margin: 5em auto;
  background: #CB4B16;
  float: left;
}

.random-user__name {
  font-family: Georgia;
  text-transform: capitalize;
  font-size: .875rem;
  line-height: 1;
  min-height: 32px;
  margin: .5625rem 0;
  padding: 0.5625rem;
}

.random-user__name--white {
  color: white;
}
